{% load static %}
<!doctype html>
<html lang="{% block langue %}fr{% endblock %}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block titre %}Plateforme de l'inclusion{% endblock %}</title>

    <script src="{% static 'accueil/js/matomo.js' %}"></script>

    <link rel="stylesheet" href="{% static 'accueil/css/main.css' %}">
    <script src="{% static 'accueil/js/resize-reporter.js' %}" defer></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% include "accueil/icones.svg" %}
    {% block contenu %}{% endblock %}
  </body>
</html>
