{% extends "accueil/base.html" %}
{% load static %}

{% block head %}
  <script src="{% static 'accueil/js/hero.js' %}" defer></script>
  <script src="{% static 'accueil/js/cities.js' %}" defer></script>
  <script src="{% static 'accueil/js/select-theme.js' %}" defer></script>
  <script src="{% static 'accueil/js/profiles.js' %}" defer></script>
{% endblock %}

{% block content %}
    <main>
      {% for section in sections %}{% include section.template with content=section.content %}{% endfor %}

      {% include "accueil/modale-ville.html" %}
    </main>
{% endblock %}
